doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1= title
    p Monto Inicial: MXN #{montoInicial}
    p Plazo: #{plazo} meses
    p Tasa de Interés Anual: #{tasaInteres}%
    p Monto Final Estimado: MXN #{montoFinal}
    a(href="/") Volver al inicio
